# macOS
.DS_STORE

# IDE
.idea
.vscode

# Dependency directories
node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv
.env*

# Coverage directory
coverage

# nyc test coverage
.nyc_output


*.heapsnapshot
target
/data
.ignored
ignored
.vault
.scannerwork
reporter/tests.xml
why.js
locales/en.json
